
*.cache
*.txt
*.dll
*.zip
*.cache
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.config
*.svcinfo
*.dll
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.txt
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.config
*.pdb
*.csproj
*.cache
*.cache
*.config
*.txt
*.dll
*.config
*.cache
.vs/MP_LingoCard/v16/.suo
*.pdb
*.dll
*.cache
*.pdb
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.pdb
*.dll
.vs/MP_LingoCard/v16/.suo
*.cache
*.csproj
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.cache
.vs/MP_LingoCard/v16/.suo
*.pdb
*.dll
*.cache
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.dll
*.config
*.csproj
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.csproj
*.cache
*.config
*.cache
*.dll
*.pdb
*.resources
.vs/MP_LingoCard/v16/.suo
*.pdb
*.config
*.dll
*.csproj
*.cache
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.pdb
.vs/MP_LingoCard/v16/.suo
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.csproj
*.cache
*.cache
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.dll
*.cache
*.dll
*.dll
*.cache
*.txt
*.dll
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.config
*.cache
*.CopyComplete
*.txt
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.cache
*.txt
*.dll
*.resources
.vs/MP_LingoCard/v16/.suo
*.dll
*.cache
*.pdb
*.cache
*.config
*.txt
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.dll
*.config
*.pdb
*.cache
*.cache
*.cache
*.pdb
*.dll
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.dll
*.pdb
*.aspx
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.dll
*.resources
.vs/MP_LingoCard/v16/.suo
*.dll
*.config
*.pdb
*.config
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.cache
*.dll
*.pdb
*.config
.vs/MP_LingoCard/v16/.suo
*.dll
*.config
*.pdb
*.csproj
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.config
*.dll
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.csproj
*.cache
*.dll
*.config
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.pdb
*.csproj
*.cache
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.csproj
*.cache
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.csproj
*.cache
*.cache
*.resources
*.resources
.vs/MP_LingoCard/v16/.suo
*.cache
*.dll
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.dll
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
.vs/MP_LingoCard/v16/.suo
*.pdb
*.dll
*.txt
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.cache
*.dll
.vs/MP_LingoCard/v16/.suo
MP.LingoCard/bin/MP.LingoCard.dll
MP.LingoCard/bin/MP.LingoCard.pdb
*.pdb
*.cache
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
.vs/MP_LingoCard/v16/.suo
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.dll
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.txt
*.cache
*.resources
*.resources
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.dll
*.cache
*.txt
*.cache
*.dll
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.dll
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.pdb
*.dll
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.dll
*.pdb
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
*.dll
*.pdb
*.resources
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.csproj
*.cache
*.cache
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
.vs/MP_LingoCard/v16/.suo
*.csproj
MP.LingoCard/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
*.cache
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.dll
*.cache
*.cache
*.txt
*.pdb
*.cache
*.pdb
*.txt
*.txt
*.cache
*.dll
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.dll
*.pdb
*.cache
.vs/MP_LingoCard/v16/.suo
.vs/MP_LingoCard/v16/.suo
*.cache
*.cache
*.pdb
*.dll
